.contact {
  padding-top: 20vh;
  &__heading {
    padding-left: 10px;
  }
  &__info {
    color: white;
    padding-top: 80px;
    font-size: 25px;
    background-color: $fourthColor;
  }
  &__section {
    margin: 30px 0;
  }
  &__times {
    margin-bottom: 60px;
  }
}