.filterArea {
  margin: 0 auto;
  max-width: 1200px;
  color: white;
  &__group {
    @extend .form__group;
    padding: 4px 10px;
    &--compact {
      @extend .filterArea__group;
    }
  }
  &__section {
    padding: 0;
  }
  &__date {
    flex-direction: row;
  }
  &__dateLabel--right {
    left: 10px;
  }
  &__people{
    flex-direction: row;
  }
  &__children {
    margin-left: auto;
  }
  &__matches {
    margin-top: auto;
    text-align: center;
    font-size: 24px;
  }
  &__buttons {
    margin: auto;
  }
  &__placeInput {
    padding-left: 40px;
  }
}

//Start of Page Content

.est__wrapper {
  padding-top: 50px;
}

//Start of Establishment item
.est-list {

}
.est {
  &__item {
    color: $white;
    min-height: 200px;
    box-shadow: 0 3px 6px black;
    position: relative;
    margin-bottom: 20px;
  }
  &__showcase {

  }
  &__image {
    @extend .bgImage;
    height: 100%;
    width: 100%;
  }
  //Start of establishment Info
  &__content {
    margin: 10px 0;
  }
  //End of establishment Info
  //Start of Establishment Action
  &__action {
    padding: 40px 15px;
    color: white;
    text-align: center;
  }
  &__price {
    font-size: 26px;
    margin-bottom: auto;
  }
  &__readMore {
    padding: 10px;
  }
  &__book {
    max-width: 100px;
    margin: 0 auto;
  }
  //End of Establishment Action
}
//End of Establishment item