*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
//Start of root elements
body {
  max-width: 2460px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  font-family: $bodyFont;
  font-size: 14px;
}
.root {
  position: relative;
  font-size: $defaultFontSize;
}

.page {
  padding: 30px 16px;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, $secondaryColor, rgba($secondaryColor, 0.9), $secondaryColor);
  color: white;
  &__topBar {
    z-index: 4;
  }
}
//End of root elements

//Start of elements

//Start of Button
.btn {
  display: inline-block;
  padding: 10px 12px;
  border-radius: $borderRadius;
  border: none;
  box-shadow: 0 2px 3px rgba(0,0,0,0.5);
  &:active {
    box-shadow: none;
  }
  &--primary {
    @extend .btn;
    background-color: $primaryColor;
    color: black;
    &:hover {
      background-color: #ffc67f;
    }
  }
  &--secondary {
    @extend .btn;
    background-color: $thirdColor;
    color: black;
    &:hover {
      background-color: $fifthColor
    }
  }
  &--close {
    @extend .btn--primary;
    width: 26px;
    height: 26px;
    padding: 4px 8px;
    border-radius: 2px;
  }
}
//End of Button
//Start of Link
.link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &--white {
    @extend .link;
    color: white;
  }
}
//end of Link

//Start of paragraph
.paragraph {
  padding: 10px 0;
}
//End of paragraph

//start of sections & groups
.section {
  margin: 20px 0;
}
.group {
  margin: 4px 0;
}
//end of sections & groups

//Start of image elements
.bgImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
//End of image elements

//Start of Hero
.hero {
  margin: -30px -16px 50px;
  min-height: 75vh;
  position: relative;
  padding: 40px 0;
  @extend .bgImage;
  &__heading {
    margin: 0 auto;
  }
}
//End of Hero
//Start of background blur element
.blurBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: $secondaryColor;
  opacity: 80%;
}
//End of background blur element

//Start of Login & Register
//Start of Login form
.login {
  &__submit {
    float: right;
  }
  &__extra {
    float: left;
  }
  &__error {
    font-size: 12px;
    color: white;
  }
  &__extraBtn {
    padding: 10px;
  }
}
//End of Login form
//Start of Register
.register {
  &__wrapper {
    padding: $spacingPrimary;
  }
  &__submit {
    @extend .login__submit;
  }
  &__extra {
    @extend .login__extra;
  }
}
//End of Register
//End of Login & Register

//Start of Navigation
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to bottom, #FFC67F, $primaryColor, $primaryColor);
  box-shadow: 0 2px 6px black;
  &--hamburger {
    @extend .nav;
    box-shadow: none;
  }
  &__right{
    margin-left: auto;
    padding: 10px;
    &--max {
      @extend .nav__right;
      width: 100%;
      margin-left: 0;
    }
  }
  &__menuToggle {
    @extend .nav__link;
    display: block;
    border: none;
    margin-left: auto;
  }
  &__links {
    display: none;
    &--hamburger {
      position: absolute;
      top: 54px;
      left: 0;
      width: 100%;
      text-align: center;
      display: block;
      background-color: $primaryColor;
      box-shadow: 0 3px 2px black;
    }
  }
  &__link {
    @extend .link;
    font-family: $labelFont;
    font-weight: bold;
    display: block;
    padding: 10px 15px;
    color: black;
    font-size: 12px;
    &--hamburger {
      @extend .nav__link;
      margin: 10px 0;
      width: 100%;
    }
    &--active {
      text-decoration: underline;
    }
  }

  //Start of login box
  &__loginBox {
    z-index: 4;
    background-color: $footerColor;
    box-shadow: 0 3px 5px black;
    max-height: 400px;
    overflow: auto;
    width: 100%;
    margin: 0;
  }
  //End of login box
}

//End of Navigation


//Start of Footer
.footer {
  padding: 20px;
  background-color: $footerColor;
  &__link {
    @extend .link;
    display: inline-block;
    margin: 10px 0;
    padding: 10px 0;
    color: white;
    text-decoration: none;
    text-align: center;
  }
  &__elem {
    @extend .footer__link;
  }
}

//End of Footer

//Start of Form
.form {
  color: white;
  &__group {
    margin: auto 0;
    padding: 10px;
    position: relative;
  }

  &__section {
    width: 100%;
    position: relative;
    padding: 0;
    margin: 10px 0;
  }

  &__container {
    position: relative;
    padding: 0;
    margin: 0;
  }
  &__error {
    position: absolute;
    top: 13px;
    right: 16px;
    z-index: 5;
    border-radius: 4px;
    font-size: 8px;
    color: red;
    &--left {
      @extend .form__error;
    }
    &--right {
      @extend .form__error;
    }
  }
  &__adults.form__select--compact {
    padding-left: 46px;
  }
  &__children.form__select--compact {
    padding-left: 60px;
  }
  &__search.form__input--compact {
    padding-left: 44px;
  }
}

//End of Form

//Start of Confirmation box
.confirmation {
  &__prompt {
    @extend .containerBox;
    border-radius: $borderRadius;
    box-shadow: 0 3px 10px black;
    margin: 50px auto;
  }
  &__Wrapper{
    position: relative;
    padding-top: 50px;
  }
  &__topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    background-color: $primaryColor;
    border-radius: $borderRadius $borderRadius 0 0;
  }
  &__close {
    padding: 10px 16px;
  }
  &__content {
    padding: 20px;
  }
  &__label {
    font-family: $labelFont;
    display: inline-block;
    min-width: 80px;
  }
  &__heading {

    &--center {
      @extend .confirmation__heading;
      text-align: center;
    }
  }
  &__image {
    width: 100%;
    max-width: 240px;
  }
  &__checkWrapper {
    text-align: center;
    padding: 30px 0;
  }
  &__check {
    font-size: 100px;
  }
  &__body {
    padding: 20px;
  }
  &__paragraph {
    display: block;
    padding: 6px 0;
  }
  &__main {
    font-size: 20px;
  }
  &__action {
    text-align: right;
  }
}

//End of Confirmation box

//Start of containerBox
.containerBox {
  &:nth-child(odd) {
    background: linear-gradient(110deg, $thirdColor 65%, $fourthColor 35%);
  }
  &:nth-child(even) {
    background: linear-gradient(70deg, $thirdColor 65%, $fourthColor 35%);
  }
}
//End of containerBox
//Start of General Items

//End of elements


//Start of media queries
@media only screen {
  //for small screens
  @media (max-width: 300px) {
    .form {
      &__container {
        flex-basis: 100%;
        &:last-child.column--split {
          margin: 0;
        }
      }
    }
  }

  //for tablet
  @media (min-width: $sGrid) {
    //Start of Page
    .page {
      padding: 30px 50px 50px;
    }
    .hero {
      margin: -30px -50px 50px;
    }
    //End of Page
    //Start of Confirmation box
    .confirmation {
      &__prompt {
        width: 60%;
      }
      &__left, &__right {
        padding: 20px 30px;
      }
      &__heading {
        padding: 6px 30px;
      }
    }
    //End of Confirmation box
    //Start of footer
    .footer {
      padding: 0 50px;
      &__links {
        order: 1;
      }
      &__display {
        order: 2;
      }
      &__contact {
        order: 3;
        text-align: right;
      }
      &__link {
        text-align: unset;
      }
    }
    //End of footer
  }

  //for 750px and up
  @media (min-width: 750px) {
    //Start of Nav
    .nav {
      padding: 0 35px;
      &__right {
        &--max {
          width: unset;
          margin-left: auto;
        }
      }
      &__links {
        display: block;
      }
      &__link {
        &:first-child {
          padding-left: 15px;
        }
        &:last-child {
          padding-right: 15px;
        }
        display: inline-block;
        &--hamburger {
          display: none;
        }
      }
      &__menuToggle {
        display: none;
      }
    }
    //End of Nav
    //Start of login box
    .nav {
      &__loginBox {
        position: absolute;
        top: 56px;
        right: 40px;
        width: unset;
        max-width: 300px;
        max-height: none;
        z-index: 20;
      }
    }
    //End of login box
  }

  //for desktop
  @media (min-width: $mGrid) {
    //Start of Nav
    .nav {
      padding: 0 85px;
      &__link {
      }
      &__loginBox {
        right: 100px;
      }
    }
    //End of Nav
    //Start of Page
    .page {
      padding: 30px 100px;
    }
    //End of Page
    //Start of Hero
    .hero {
      margin: -30px -100px 50px;
    }
    //End of Hero
    //Start of Footer
    .footer {
      padding: 50px 150px;
      &__links {
        order: 1;
      }
      &__display {
        order: 2;
      }
      &__contact {
        order: 3;
        text-align: right;
      }
    }
    //End of Footer
  }
  @media (min-width: $breakPoint2) {
    //Start of form
    .form {
      &__error {
        &--left {
          right: 6px;
        }
      }
    }
    //End of form
  }
}