*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
body {
  height: 100%;
}
.root {
  position: relative;
  font-size: 12px;
}

.page {
  padding: 30px 15px;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #051033, #141f42, #051033);
  color: white;
  &__topBar {
    z-index: 4;
  }
}
.bgImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  margin: -30px -15px 30px;
  height: 75vh;
  position: relative;
  @extend .bgImage;
}
.blurBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: $secondaryColor;
  opacity: 80%;
}

//Start of elements

//Start of Navigation
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to bottom, #FFC67F, $primaryColor, $primaryColor);
  box-shadow: 0 2px 6px black;
  &--mobile {
    @extend .nav;
    box-shadow: none;
  }
  &__right{
    margin-left: auto;
    padding: 10px;
    text-align: right;
  }
  &__menuToggle {
    @extend .nav__link;
    display: block;
    border: none;
  }
  &__links {
    display: none;
    &--mobile {
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      text-align: center;
      display: block;
      background-color: $primaryColor;
      box-shadow: 0 5px 3px black;
    }
  }
  &__link {
    @extend .link;
    display: block;
    padding: 10px 15px;
    color: black;
    &--mobile {
      @extend .nav__link;
      margin: 10px 0;
    }
  }
}

//End of Navigation


//Start of Footer
.footer {
  background-color: #141414;
  &__link {
    @extend .nav__link;
    margin: 10px 0;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }
  &__elem {
    @extend .footer__link;
  }
}

//End of Footer

//Start of Form
.form {
  color: white;
  &__section {
    padding: 0;
    margin: 10px 0;
  }
  &__group {
    margin: auto 0;
    padding: 10px;
    position: relative;
  }
  //Start of label
  &__label {
    color: white;
    &--compact {
      @extend .form__label;
      position: absolute;
      font-size: 10px;
      left: 20px;
      top: 50%;
      transform: translate(0, -50%);
      color: $thirdColor;
      pointer-events: none;
    }
    &--textarea {
      @extend .form__label--compact;
      top: 30px;
    }
    &--left {
      @extend .form__label--compact;
    }
    &--right {
      @extend .form__label--compact;
      left: 10px;
    }
  }
  //End of Label
  //Start of Items
  &__item {
    height: 30px;
    margin: auto 0;
    padding: 6px;
    border-radius: 6px;
    display: block;
    width: 100%;
    border: 2px solid $thirdColor;
    font-size: 12px;
    &:focus {
      border-color: $primaryColor;
    }
    &--compact {
      @extend .form__item;
      padding-left: 65px;
    }
    &--selector {
      @extend .form__item--compact;
      background: url("../media/images/chevron-down.png") no-repeat right white;
      background-size: 16px;
      &:focus {
        background: url("../media/images/chevron-up.png") no-repeat right white;
      }
    }
  }
  //Start of Input
  &__input {
    @extend .form__item;
    &--compact {
      @extend .form__item--compact;
      @extend .form__input;
    }
  }
  //End of Input
  //Start of Textarea
  &__textarea {
    @extend .form__item;
    &--compact {
      @extend .form__item--compact;
      @extend .form__textarea;
      padding: 35px 10px 10px;
      resize: vertical;
      height: 150px;
    }
  }
  //End of Textarea
  //Start of Number
  &__number {
    @extend .form__item;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: none;
  }
  //End of Number
  //Start of Date
  &__dateLabel {
    @extend .form__label--compact;
    &--left {
      @extend .form__dateLabel;
    }
    &--right {
      @extend .form__dateLabel;
    }
  }
  &__date {
    @extend .form__item;
    &--left {
      padding-right: 0;
    }
    &--right {
      padding-left: 0;
    }
    &Input--left {
      @extend .form__date;
      padding-left: 40px;
      border-radius: 6px 0 0 6px;
    }
    &Input--right {
      @extend .form__date;
      padding-left: 25px;
      border-radius: 0 6px 6px 0;
    }
  }
  //End of Date
  //Start of Select
  &__select {
    font-size: 10px;
    @extend .form__item;

    &--compact {
      @extend .form__item--compact;
      @extend .form__select;
    }
  }
  &__option {
    text-align: right;
  }
  //End of Select
  //Start of Selectors (checkbox & radiobutton)
  //Start of Selector Button
  &__selectorButton {
    position: absolute;
    top: 0;
    opacity: 0;
    &:focus, &:hover {
      &+[class^="form__"][class$="Design"] {
        color: $primaryColor;
      }
    }
  }
  &__selectorDesign {
    display: inline-block;
    font-size: 20px;
    transform: translate(0,2px);
  }
  //End of Selector Button

  //start of RadioButton
  &__radio {
    @extend .form__item;
    position: relative;
    border: none;
  }
  &__radioButton {
    @extend .form__selectorButton;
  }
  &__radioDesign {
    @extend .form__selectorDesign;
  }
  &__radioLabel {
    @extend .form__label;
    display: inline-block;
    padding: 10px;
  }
  //End of RadioButton
  //Start of Checkbox
  &__checkbox {
    @extend .form__radio;
  }
  &__checkboxButton {
    @extend .form__selectorButton;
  }
  &__checkboxDesign {
    @extend .form__selectorDesign;
  }
  &__checkboxLabel {
    @extend .form__radioLabel;
  }
  //End of Checkbox
  //End of Selectors (checkbox & radiobutton)
  //Start of Action
  &__action {
    text-align: right;
  }
  //End of Action
}
//Start of Range
.form {
  &__multiRange {
    position: relative;
  }
  &__rangeControls {
    position: relative;
    padding: 0 0 10px;
  }
  &__rangeInput {
    @extend .form__item;
    display: inline-block;
    padding: 3px 0 3px 5px;
    width: 65px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: none;
    &--min {
      @extend .form__rangeInput;
      order: 1;
    }
    &--max {
      @extend .form__rangeInput;
      order: 3;
    }
  }
  &__rangeLabel {
    margin: 0 auto;
    order: 2;
    text-align: center;
  }
}
//Start of Nouislider
.noUi-target {
  position: relative;
  height: 14px;
  border-radius: 5px;
  background-color: white;
}
.noUi-base {
}
.noUi-connect {
  height: 14px;
  background-color: $thirdColor;
  position: absolute;
  top: 0;
}
.noUi-origin {
  position: absolute;
  top: 0;
}
.noUi-handle {
  border-radius: 5px;
  width: 24px;
  height: 24px;
  background-color: $primaryColor;
  transform: translate(0, -25%);
  &-upper {
    transform: translate(-100%, -25%);
  }
}
//End of Nouislider
//End of Range

//End of Form

//Start of General Items
//Start of Button
.btn {
  padding: 10px 12px;
  border-radius: 7px;
  border: none;
  &--primary {
    @extend .btn;
    background-color: $primaryColor;
    color: black;
  }
  &--close {
    @extend .btn--primary;
    width: 26px;
    height: 26px;
    padding: 4px 8px;
    border-radius: 3px;
  }
}
//End of Button
//Start of Link
.link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &--white {
    @extend .link;
    color: white;
  }
}
//end of Link
//End of elements


@media only screen {
  //for Mobile
  @media (max-width: 345px) {
    .form {
      &__label {
        &--right {
          left: 20px;
        }
      }
      &__date {
        &--left, &--right {
          padding: 10px;
          flex-basis: 100% !important;
        }
        &Input--left, &Input--right {
          padding-left: 40px;
          border-radius: 6px;
        }
      }
    }
  }

  @media (min-width: $mobile) {
    //Start of Nav
    .nav {
      padding: 0 35px;
      &__links {
        display: block;
      }
      &__link {
        &:first-child {
          padding-left: 15px;
        }
        &:last-child {
          padding-right: 15px;
        }
        display: inline-block;
      }
      &__menuToggle {
        display: none;
      }
    }
    //End of Nav
    //Start of Page
    .page {
      padding: 50px;
    }
    .hero {
      margin: -50px;
    }
    //End of Page
    //Start of Footer
    .footer__link {
      color: white;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  @media (min-width: $tablet) {
    //Start of Nav
    .nav {
      padding: 0 85px;
      &__link {
      }
    }
    //End of Nav
    //Start of Page
    .page {
      padding: 30px 100px;
    }
    //End of Page
    //Start of Hero
    .hero {
      margin: -30px -100px 0;
    }
    //End of Hero
    //Start of Footer
    .footer {
      padding: 50px 150px;
      &__links {
        order: 1;
      }
      &__display {
        order: 2;
      }
      &__contact {
        order: 3;
        text-align: right;
      }
    }
    //End of Footer
  }
}