*, *::before, *::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}
body {
  height: 100%;
}
.root {
  position: relative;
  font-size: $defaultFontSize;
}

.page {
  padding: 30px 16px;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, $secondaryColor, rgba($secondaryColor, 0.9), $secondaryColor);
  color: white;
  &__topBar {
    z-index: 4;
  }
}
.bgImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  margin: -30px -16px 30px;
  height: 75vh;
  position: relative;
  @extend .bgImage;
}
.blurBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: $secondaryColor;
  opacity: 80%;
}

//Start of elements

//Start of Navigation
.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background: linear-gradient(to bottom, #FFC67F, $primaryColor, $primaryColor);
  box-shadow: 0 2px 6px black;
  &--mobile {
    @extend .nav;
    box-shadow: none;
  }
  &__right{
    margin-left: auto;
    padding: 10px;
    text-align: right;
  }
  &__menuToggle {
    @extend .nav__link;
    display: block;
    border: none;
  }
  &__links {
    display: none;
    &--mobile {
      position: absolute;
      top: 56px;
      left: 0;
      width: 100%;
      text-align: center;
      display: block;
      background-color: $primaryColor;
      box-shadow: 0 6px 2px black;
    }
  }
  &__link {
    @extend .link;
    display: block;
    padding: 10px 15px;
    color: black;
    &--mobile {
      @extend .nav__link;
      margin: 10px 0;
    }
  }
}

//End of Navigation


//Start of Footer
.footer {
  background-color: #141414;
  &__link {
    @extend .nav__link;
    margin: 10px 0;
    padding: 10px 0;
    color: white;
    text-decoration: none;
  }
  &__elem {
    @extend .footer__link;
  }
}

//End of Footer

//Start of Form
.form {
  color: white;

  &__section {
    position: relative;
    padding: 0;
    margin: 10px 0;
  }

  &__container {
    position: relative;
    padding: 0;
    margin: 0;
    &:last-child.column--split {
      margin-left: auto;
    }
  }

  &__group {
    margin: auto 0;
    padding: 10px;
    position: relative;
    &:last-child.column--split {
      margin-left: auto;
    }
  }
  &__error {
    position: absolute;
    top: 13px;
    right: 16px;
    z-index: 5;
    background-color: white;
    border-radius: 4px;
    font-size: 8px;
    color: red;
    &--left {
      @extend .form__error;
      right: 6px;
    }
    &--right {
      @extend .form__error;
    }
  }
}

//End of Form

//Start of General Items
//Start of Button
.btn {
  display: inline-block;
  padding: 10px 12px;
  border-radius: $borderRadius;
  border: none;
  &--primary {
    @extend .btn;
    background-color: $primaryColor;
    color: black;
  }
  &--close {
    @extend .btn--primary;
    width: 26px;
    height: 26px;
    padding: 4px 8px;
    border-radius: 2px;
  }
}
//End of Button
//Start of Link
.link {
  color: black;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &--white {
    @extend .link;
    color: white;
  }
}
//end of Link
//start of sections & groups
.section {
  margin: 20px 0;
}
.group {
  margin: 4px 0;
}
//end of sections & groups

//start of search Results

.searchResults {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: $white;
  padding: 2px;
  max-height: 350px;
  overflow: auto;
  border-radius: $borderRadius;
  border: 3px solid $white;
}
.resultItem {
  background-color: $thirdColor;
  border-radius: $borderRadius;
  padding: 6px;
  margin: 4px 0;
  justify-content: left;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,0);
  &:hover {
    opacity: 0.95;
  }
  &:focus {
    border: 2px solid $primaryColor;
  }
  &__img {
    width: 26px;
    height: 26px;
    display: inline-block;
  }
  &__info {
    width: 150px;
    margin-left: 6px;
    display: inline-block;
    font-size: 12px;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }


}

//End of search results
//End of elements


@media only screen {
  //for tablet
  @media (min-width: $mobile) {
    //Start of Nav
    .nav {
      padding: 0 35px;
      &__links {
        display: block;
      }
      &__link {
        &:first-child {
          padding-left: 15px;
        }
        &:last-child {
          padding-right: 15px;
        }
        display: inline-block;
      }
      &__menuToggle {
        display: none;
      }
    }
    //End of Nav
    //Start of Page
    .page {
      padding: 50px;
    }
    .hero {
      margin: -50px;
    }
    //End of Page
    //Start of Footer
    .footer__link {
      color: white;
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
  //for desktop
  @media (min-width: $tablet) {
    //Start of Nav
    .nav {
      padding: 0 85px;
      &__link {
      }
    }
    //End of Nav
    //Start of Page
    .page {
      padding: 30px 100px;
    }
    //End of Page
    //Start of Hero
    .hero {
      margin: -30px -100px 0;
    }
    //End of Hero
    //Start of Footer
    .footer {
      padding: 50px 150px;
      &__links {
        order: 1;
      }
      &__display {
        order: 2;
      }
      &__contact {
        order: 3;
        text-align: right;
      }
    }
    //End of Footer
  }
}