@use "sass:color";

.home-hero {
  @extend .hero;
  background-image: url("../media/images/HeroImage.jpg");
}

//Start of OrderBox
.orderBox {
  margin: auto;
  max-width: 800px;
  width: 60%;
  min-width: 340px;
  background-color: $thirdColor;
  box-shadow: 0 5px 10px black;
  //Start of Types
  &__type {
    position: relative;
    background-color: rgba($secondaryColor, 300%);
    box-shadow: 0 1px 4px black;
    z-index: 1;
    &--active {
      @extend .orderBox__type;
      background-color: $secondaryColor;
      box-shadow: 0 2px 5px black;
      z-index: 5;
    }
  }
  &__hotel {
    z-index: 3;
  }
  &__bnb {
    z-index: 2;
  }
  &__cabin {
    z-index: 1;
  }
  &__typeButton {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
  &__typeDesign {
    text-align: center;
  }
  //End of Types
  //Start of Filter
  &__filter {
    padding: 5px;
  }
  //start of Place
  &__search {
    padding: 0;
  }
  &__placeInput {
    padding-left: 39px;
  }

  //End of Place
  //start of People (Adults & Children)
  &__people {
    padding: 0;
  }
  //End of People (Adults & Children)
  //Start of Submit
  &__action {
    margin-left: auto;
  }
  //End of Submit
}
//End of OrderBox

//start of search Results

.searchResults {
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 5;
  width: 100%;
  background-color: $white;
  padding: 2px;
  max-height: 350px;
  overflow: auto;
  border-radius: $borderRadius;
  border: 3px solid $white;
}
.resultItem {
  background-color: $thirdColor;
  border-radius: $borderRadius;
  margin: 4px 0;
  justify-content: left;
  cursor: pointer;
  border: 2px solid rgba(0,0,0,0);
  &:hover {
    opacity: 0.95;
  }
  &:focus {
    border: 2px solid $primaryColor;
  }
  &__design {
    display: flex;
    padding: 0;
  }
  &__content {
    justify-content: left;
  }
  &__action {
    padding: 0;
  }
  &__img {
    width: 26px;
    height: 26px;
    display: inline-block;
  }
  &__info {
    margin-left: 6px;
    display: inline-block;
    font-size: 12px;
  }
  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
  &__readMore {
    font-size: 14px;
    color: white;
    margin: auto 0;
    display: block;
  }


}

//End of search results

@media only screen {
  @media (max-width: 345px) {
    .orderBox {
      min-width: unset;
      width: 90%;
    }
  }
  @media (min-width: $mobile) {
    .resultItem {
      &__action {
        padding: 10px;
      }
    }
  }
  @media (min-width: $tablet) {
    .orderBox {
      &__filter {
        padding: 20px 30px;
      }
    }
  }
}