.admin {
  &__inbox {
    margin-bottom: 50px;
  }
  &__section {

  }
  &__list {
    min-height: 400px;
    height: 70vh;
    overflow: auto;
  }
}

.admin-item {
  background-color: $thirdColor;
  margin: 5px 0;
  padding: 5px;
  border-radius: 7px;
  &__section {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__left {
    @extend .admin-item__section;
  }
  &__right {
    @extend .admin-item__section;
    margin-left: auto;
  }
  //Start of information
  &__item {
    padding: 5px 10px;
  }
  &__img {
    @extend .bgImage;
    width: 26px;
    height: 26px;
  }
  &__name {
    @extend .admin-item__item;
  }
  &__info {
    @extend .admin-item__item;
  }
  &__date {
    @extend .admin-item__item;
  }
  &__btn {
    @extend .admin-item__item;
  }
  //End of Information
}

//Start of Establishments
.admin {
  &__establishments {
    &Heading {
      padding-left: 10px;
    }
  }
}
//End of Establishments

//start of view-window
.view-window {
  z-index: 5;
  padding: 20px 20px 60px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: $thirdColor;
  color: white;
  max-height: 70vh;
  overflow: auto;
  &__topBar {
    text-align: right;
  }
  &__actions {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
  }
}
//Start of enquiries
.view-enquiry {
  &__client {
    padding: 10px 0 30px;
    border-bottom: 1px solid darkgray;
  }
  &__information {
    padding: 30px 0;
  }
}
//End of enquiries

//start of messages
.view-message {
  min-height: 400px;
  &__contact {
    border-right: 1px solid darkgray;
  }
}
//end of messages

//start of establishment
.view-est {
  &__showcase {
    max-width: 100px;
    margin-left: 10px;
  }
  &__priceLabel {
    display: block;
  }
  &__priceInput {
    display: inline-block;
    width: 60px;
  }
  &__currency {
    margin: 0 6px;
  }

}
//end of establishment
//End of view-window

@media only screen {
  @media (max-width: $mobile) {
    .admin {
      &__establishments {
        &List {
          margin-top: 40px;
        }
      }
    }
  }
  @media (max-width: 920px) {
    .admin {
      &__enquiries, &__messages {
        flex-basis: 100% !important;
      }
    }
  }
}