//grid
$sGrid: 610px;
$mGrid: 1200px;
$lGrid: 2560px;

//breakpoints
$breakPoint1: 750px;
$breakPoint2: 900px;

//margins
$spacingPrimary: 10px;

//Colors
$primaryColor: #ffb36a;
$secondaryColor: #182442;
$thirdColor: #43668e;
$fourthColor: #2a4058;
$fifthColor: #54779f;
$black: #000000;
$white: #fefefe;
$footerColor: $fourthColor;

//Border-radius
$borderRadius: 6px;

//fonts
$headingFont: 'Vesper Libre', serif;
$bodyFont: 'Ubuntu', sans-serif;
$labelFont: 'Roboto Condensed', sans-serif;

//font-size
$defaultFontSize: 12px;