//grid
$mobile: 575px;
$tablet: 1120px;
$desktop: 2560px;

//margins
$spacingPrimary: 10px;

//Colors
$primaryColor: #ffb36a;
$secondaryColor: #051033;
$thirdColor: #43668e;
$fourthColor: #2a4058;
$black: #000000;
$white: #FEFEFE;
$footerColor: $thirdColor;

//Border-radius
$borderRadius: 6px;

//font-size
$defaultFontSize: 12px;